@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

:root {
  --grey-1: #f2f2f0;
  --grey-2: #e8e8e6;
  --grey-3: #e0e0dc;
  --grey-4: #bfbeba;
  --white-1: #EFF1EE;
  --white-2: #fff5e3;
  --green-0: #DDE4D7;
  --green-1: #B5C3AA;
  --green-2: #91A57F;
  --text-1: #262923;
  --gold-1: #ccaa14;
}

a, h1, h2, h3, p, label, span, input, button, input{
  font-family: 'Ibarra Real Nova', serif;
  color: var(--text-1);
}

body, html {
  margin-top: 120px;
  padding: 0;
  background-color: var(--grey-1);
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--green-2);
}

label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

input, button {
  border-radius: 3px;
}

input {
  font-size: 1.2rem;
  padding: .4rem;
  width: 80%;
}

button {
  padding: .2rem 1rem;
}

@media only screen and (min-width: 600px) {
  input {
    width: 475px;
  }
}
