.word {
  margin-bottom: 1rem;
}
.word > h4 {
  color: var(--gold-1);
  font-size: 1.3rem;
  margin: 0 0 .4rem 0;
}

.word > h5 {
  font-size: 1rem;
  margin: 0 0 0 .5rem;
}

.word > p {
  font-size: 1rem;
  margin: 0 0 0 .5rem;
}
