ol {
  list-style-type: none;
  text-align: left;
  display: block;
  width: 100%;
  margin-left: 5%;
}

.dashboard > h2 {
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
}

.dashboard > h3 {
  font-size: 1.1rem;
}

.practice {
  font-size: 1.5rem;
  padding-bottom: 25px;
  -webkit-text-stroke: 1px var(--gold-1);
  -webkit-text-fill-color: white;
}

@media only screen and (min-width: 600px) {
  ol {
    list-style-type: none;
    text-align: left;
    display: block;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}
